.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: 100px;
    background-color: #1976D2;
}

.titleText {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}

.navigationActive {
    margin: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
    pointer-events: none;
    color: #b7b7b7;
}

.navigationInactive {
    margin: 20px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}