.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.textFields {
    margin: 15px 0 !important;
    width: 300px;
}

.addButton {
    margin: 20px 0 0 0 !important;
}

.titleForm {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
    color: #1976D2;
}