.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.titleForm {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
    color: #1976D2;
}

.containerInfo {
    margin-top: 70px;
    text-align: center;
}

.textAnalysis {
    font-weight: bold !important;
}

.valueText {
    color: #006400;
}
